<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 kolom-footer">
                <div class="title">Our Dealer</div>
                <a href="https://yamahabismagroup.com/pilih-dealer/">Find Dealer</a>
            </div>
            <div class="col-md-3 kolom-footer">
                <div class="title">Product</div>
                <span class="footmenu">
                    <a href="#" target="_blank">YZ125X</a>
                </span>
                <span class="footmenu">
                    <a href="#" target="_blank">YZ250X</a>
                </span>
                <span class="footmenu">
                    <a href="#" target="_blank">YZ250F</a>
                </span>
                <span class="footmenu">
                    <a href="#" target="_blank">YZ250FX</a>
                </span>
            </div>
            <div class="col-md-3 kolom-footer">
                <div class="title">Main Website</div>
                <p>
                    <a href="https://yamahabismagroup.com" target="_blank">Yamaha Bisma Group</a>
                </p>
            </div>
            <div class="col-md-3 kolom-footer">
                <div class="title">Download Yamaha Apps</div>
                <span class="footmenu">
                    <a href="https://apps.apple.com/us/app/power-tuner-app/id1235945328?mt=8" target="_blank">
                        <img src="../img/ptapp.png" alt="Power Tuner" class="img-fluid" width="300">
                    </a>
                </span>
                <span class="footmenu">
                    <a href="https://www.yamaha-motor.co.id/yamaha-apps/" target="_blank">
                        <img src="../img/myyapp.png" alt="My Yamaha" class="img-fluid" width="300">
                    </a>
                </span>
                <span class="footmenu">
                    <a href="https://www.yamaha-motor.co.id/yamaha-apps/" target="_blank">
                        <img src="../img/ycapp.png" alt="Y Connect" class="img-fluid" width="300">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
<div class="credit">
    &copy; CRM Bisma Group | Supported By <a href="">Dikaprana.com</a>
</div>