<div class="container product">
    <div class="row justify-content-center text-center">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="" target="_blank">
                    <img src="../img/yz125x.png" alt="YZ125X" class="img-fluid">
                </a>
                <p>YZ125X</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="" target="_blank">
                    <img src="../img/yz250x.png" alt="YZ250X" class="img-fluid">
                </a>
                <p>YZ250X</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="" target="_blank">
                    <img src="../img/yz250f.png" alt="YZ250F" class="img-fluid">
                </a>
                <p>YZ250F</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="" target="_blank">
                    <img src="../img/yz250fx.png" alt="YZ250FX" class="img-fluid">
                </a>
                <p>YZ250FX</p>
            </div>
        </div>
    </div>
</div>
